/*///////////////////////////////////////////////////////////////////////////*/
@import "compass/css3";
@import "compass/reset";
@include global-reset();

/*///////////////////////////////////////////////////////////////////////////*/
@import "CSS:../js/libs/vendor/bootstrap/dist/css/bootstrap.min";
@import "CSS:../js/libs/vendor/angular-growl-v2/build/angular-growl";
$ionicons-font-path: "../js/libs/vendor/ionic/fonts" !default;
@import "../js/libs/vendor/ionic/scss/ionic";


/*///////////////////////////////////////////////////////////////////////////*/
$dark: #3f4041;

.dark {
	background-color: #3f4041 !important;
	color: #ffffff;
	.scroll-content {
		background-color: #3f4041 !important;
	}
	.item-content {
		background-color: $dark;
		padding:20px;
	}

	.item {
		background-color: $dark;
		border: none;
		border-top: 1px solid #464646;
		border-bottom: 2px solid #333333;
		color: #F0F1F1;
		max-height: none;

		&:last-child {
			border-bottom: 1px solid #333333;
		}
		&.current{ background-color:darken( $dark, 10% )   !important;
			border-top: 1px solid #464646 !important;
			border-bottom: 2px solid #333333 !important;
			p,h3{opacity: .7;}
		}
	}
	h2,
	h3,
	p
	{
		color: #F0F1F1;
	}
}
.dark-head {
	text-decoration: none;
}